body {
	/*background: white;*/
	font-family: "Times New Roman",Georgia,Serif;
}

a {
	text-decoration: none;
}

.wrapper {
	width: 800px;
	margin: 0 auto;
	display: none;
}

.logo {
	width: 650px;
	height: 110px;
	margin: 0 auto;
	padding-top: 70px;
}

.tear {
	width: 15px;
	height: 20px;
	z-index: 100;
	position: relative;
	left: 602px;
	top: 43px;
}

.middle {
	text-align: center;
	padding-top: 56px;
	font-style: italic;
	font-size: 48px;
	color: #464646;
	/*background-color: green;*/
}

.forms {
	margin: 0 auto;
	width: 550px;
	/*background-color: orange;*/
	height: 350px;
}

.field {
	font-family: "Times New Roman",Georgia,Serif;
	font-style: italic;
	width: 305px;
	height: 54px;
	font-size: 29px;
	margin-top: 60px;
	background-color: white;
	text-align: left;
	color: #464646;
	border: 3px solid #00aeef;
	padding-left: 10px;

}

.button {
	width: 215px;
	height: 61px;
	font-family: "Times New Roman",Georgia,Serif;
	font-style: italic;
	font-size: 29px;
	background-color: #00aeef;
	margin: 0 auto;
	margin-top: 61px;
	color: white;
	text-align: center;
	position: relative;
	bottom: 1px;
	border : 0px;
	cursor: pointer;
	float: right;
}

input:focus, textarea:focus {
    outline: none;
}
::-webkit-input-placeholder {
   color: #464646;
}
:-moz-placeholder { /* Firefox 18- */
   color: #464646;  
}
::-moz-placeholder {  /* Firefox 19+ */
   color: #464646;  
}
:-ms-input-placeholder {  
   color: #464646;     
}

.submit-loading-icon {

	display: none;
	padding-left: 85px;
	position: relative;
	top: 11px;
	
}



/*  		*/
/*  Footer 	*/
/*			*/


.footer {
	width: 385px;
	height: 25px;
	position: absolute;
	bottom: 6px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	/*background-color: lime;*/
}


.sharebuttons {
	width: 168px;
	height: 25px;
}

.tweetshare {
	float: left;
	position: absolute;
}

.likeshare {
	float: right;
}

.credits {
	font-size: 12px;
	font-style: italic;
	color: #BDBDBD;
	position: relative;
	bottom: 23px;
	float: right;
}

.credits a {
	color: #BDBDBD;
	text-decoration: none;
}


/* 			*/
/*  TWEETS 	*/
/*			*/


.tweet {
	height: 500px;
	display: none;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.tweet-id {
	display: none;
}

.frame {
	width: 650px;
	background-color: white;
	margin: 0 auto;
	margin-top: 50px;
	border: 1px solid #dbdbdb;
	text-align: left;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px; /* future proofing */
	-khtml-border-radius: 6px; /* for old Konqueror browsers */
}

.title {
	text-align: center;
	font-size: 36px;
	color: #353535;
	font-family: "Times New Roman",Georgia,Serif;
	font-style: italic;
	margin-top: 95px;

}
.profile {
	/*margin: 40 40 22 40;*/
	margin-top: 40px;
	margin-right: 40px;
	margin-bottom: 22px;
	margin-left: 40px;
	height: 52px;
	width: 440px;
	/*background-color: lime;*/
}

.profilepic {
	width: 50px;
	height: 50px;
	padding-top: 10px;
	margin: 0;
	padding: 0;
	float: left;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px; /* future proofing */
	-khtml-border-radius: 7px; /* for old Konqueror browsers */
}

.name {
	font-size: 17px;
	font-weight: bold;
	text-align: left;
	line-height: 25px;
	display: block;
	float: left;
	margin-left: 12px;
	margin-top: 4px;
	color: #353535;
	/*background-color: red;*/
	width: 350px;
}
.handle {
	float: left;
	text-align: left;
	display: inline-block;
	float: left;
	margin-left: 12px;
	color: #9d9d9d;
}
.tweettext {
	font-size: 32px;
	margin-left: 40px;
	margin-top: 10px;
	margin-bottom: 1px;
	font-weight: 300;
	color: #353535;
	width: 572px;

}
.line {
	width: 570px;
	margin: 0 auto;
	height: 20px;
	border-bottom: 1px solid #dbdbdb;
}
.tweetbottom {
	width: 570px;
	height: 50px;
	text-align: left;
	margin: 0 auto;
}
.sub {
	text-transform: uppercase;
	font-size: 20px;
	color: #9d9d9d;
}
.rt {
	padding-top: 14px;
	padding-left: 15px;
	float: left;
}
.fav {
	height: 36px;
	width: 130px;
	padding-top: 14px;
	padding-right: 15px;
	float: left;
	border-right: 1px solid #dbdbdb;
}
.line2 {
	width: 570px;
	margin: 0 auto;
	height: 20px;
	border-top: 1px solid #dbdbdb;
}
.date {
	text-transform: uppercase;
	font-size: 12px;
	color: #9d9d9d;
	margin-left: 40px;
	margin-bottom: 18px;
	letter-spacing: .03em;
}



/*  					*/
/* No More Tweets Frame */
/*						*/


.fin {
	text-align: center;
	font-size: 65px;
	color: #00aeef;
	font-family: "Times New Roman",Georgia,Serif;
	font-style: italic;
	position: absolute;
	top: 140px;
	left: 0; 
	right: 0;
	display: none;
	width: 560px;
	margin: 0 auto;
	margin-bottom: 40px;
}
.end {
	font-size: 26px;
	margin: 0 4 0 4;
	color: #9d9d9d;
	text-decoration: none;
	border-bottom: 1px solid #9d9d9d;
	padding-bottom: 1px;
}
.endwrap {
	width: 510px;
	height: 100px;	
	margin: 0 auto;
	position: relative;
	left: -5;
}
.end a {
	color: #9d9d9d;

}



/*  					*/
/* 		PAGE			*/
/*						*/



.page {
	text-align: center;
	font-family: "Times New Roman",Georgia,Serif;
	font-style: italic;
	padding-top: 100px;
}


.pagetitle {
	font-size: 54px;
	color: #00aeef;
	margin-bottom: 40px;
	margin-top: 50px;
}

.pagetitle a {
	color: #00aeef;
}

.pagetext {
	font-size: 30px;
	color: #353535;
	margin-bottom: 40px;
}

.pagelink {
	font-size: 30px;
	color: #353535;
	border-bottom: 1px solid;
}

.notweets {
	display: none;
}

.user {
	display: none;
}






/*  					*/
/* 	FOOTER TWEETS   	*/
/*						*/



.footer_tweets {
	display: none;
	font-style: italic;
	color: #9d9d9d;
	font-size: 17px;
	text-align: center;
}

.onlybird2 {
	position: fixed;
	bottom: 15px;
	left: 15px;
}

.shareyourtweets {
	/*list-style: none;*/
	width: 380px;
	height: 20px;
	margin: 0 auto;
	position: fixed;
	bottom: 15px;
	left: 0;
	right: 0;
	/*background-color: red;*/
}

.shareyourtweets a {
	padding-left: 4px;
	padding-right: 4px;
	color: #9d9d9d;
	cursor: pointer;
}

.shareyourtweets a:hover {
	color: #00aeef;
}

/*				*/
/*	EJS CONTEXT	*/
/*				*/

.ejs-context {
	display: none;
}



.gray {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #f2f2f2;
	z-index: -100;
}




















