
body {
	background-color: #ebebeb;
	font-family: "HelveticaNeue-Light", 
	"Helvetica Neue Light", "Helvetica Neue", 
	Helvetica, Arial, "Lucida Grande", sans-serif;
}

.wrapper {
	width: 800px;
	height: 100%;
	margin: 0 auto;
}




