
body {
	background-color: #ebebeb;
	font-family: "HelveticaNeue-Light", 
	"Helvetica Neue Light", "Helvetica Neue", 
	Helvetica, Arial, "Lucida Grande", sans-serif;
}

.wrapper {
	width: 800px;
	height: 100%;
	margin: 0 auto;
}

.tweet {
	height: 500px;
	/*display: none;*/
}

.tweet-id {
	display: none;
}

.frame {
	width: 650px;
	height: 300px;
	background-color: white;
	margin: 0 auto;
	margin-top: 60px;
	border: 1px solid #dbdbdb;
	text-align: left;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px; /* future proofing */
	-khtml-border-radius: 6px; /* for old Konqueror browsers */
/*	display: none;*/
}

.title {
	text-align: center;
	font-size: 30px;
	color: #353535;
	font-family: "Times New Roman",Georgia,Serif;
	font-style: italic;
	margin-top: 120px;

}


.profile {
	margin: 40 40 22 40; /* boven rechts onder links */
	height: 52px;
	width: 200px;
}


.profilepic {
	width: 52px;
	height: 42px;
	padding-top: 10px;
	background-color: orange;
	float: left;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px; /* future proofing */
	-khtml-border-radius: 7px; /* for old Konqueror browsers */
	
}

.circle {
	width: 18px;
	height: 30px;
	background-color: #fafafa;
	margin: 0 auto;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%; /* future proofing */
	-khtml-border-radius: 50%; /* for old Konqueror browsers */
}

.name {
	font-size: 17px;
	letter-spacing: 1px;
	font-weight: bold;
	text-align: left;
	line-height: 25px;
	display: inline;
	float: left;
	margin-left: 12px;
	margin-top: 4px;
	color: #353535;
}

.handle {
	float: left;
	text-align: left;
	display: inline;
	float: left;
	margin-left: 12px;
	color: #9d9d9d;
}

.tweettext {
	font-size: 32px;
	margin-left: 40px;
	margin-top: 10px;
	font-weight: 300;
	color: #353535;
}


.line {
	width: 570px;
	margin: 0 auto;
	height: 20px;
	border-bottom: 1px solid #dbdbdb;
}

.tweetbottom {
	width: 570px;
	height: 50px;
	text-align: left;
	margin: 0 auto;
}


.sub {
	text-transform: uppercase;
	font-size: 20px;
	color: #9d9d9d;
}

.rt {
	padding-top: 14px;
	padding-left: 15px;
	float: left;
}

.fav {
	height: 36px;
	width: 130px;
	padding-top: 14px;
	padding-right: 15px;
	float: left;
	border-right: 1px solid #dbdbdb;
}


.line2 {
	width: 570px;
	margin: 0 auto;
	height: 20px;
	border-top: 1px solid #dbdbdb;
}

.date {
	text-transform: uppercase;
	font-size: 12px;
	color: #9d9d9d;
	margin-left: 40px;
}

.tweet2 {
	display: none;
}

.fin {
	text-align: center;
	font-size: 65px;
	color: #00aeef;
	font-family: "Times New Roman",Georgia,Serif;
	font-style: italic;
	position: absolute;
	top: 140px;
	left: 0; 
	right: 0;
	display: none;
	width: 560px;
	margin: 0 auto;
	margin-bottom: 40px;
}

.end {
	font-size: 26px;
	margin: 0 4 0 4;
	color: #9d9d9d;
	text-decoration: none;
	border-bottom: 1px solid #9d9d9d;
	padding-bottom: 1px;
}

.endwrap {
	width: 510px;
	height: 100px;	
	margin: 0 auto;
	position: relative;
	left: -5;
}

.end a {
	color: #9d9d9d;

}

.video {
	display: none;
}

.credits {

}

.credits a {
	
}




